#embedding Azure endpoint
AZURE_OPENAI_ENDPOINT=https://codewith-sc-dev-resource.cognitiveservices.azure.com/
AZURE_OPENAI_KEY=your_key
AZURE_OPENAI_API_VERSION=2024-12-01-preview
AZURE_EMBEDDING_DEPLOYMENT=text-embedding-3-large
AZURE_GPT_DEPLOYMENT=gpt-4.1
